.bg{
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;

    background-image: linear-gradient(to bottom right, rgb(103, 71, 239), rgb(110, 189, 238));

    overflow-y: scroll;
}